<nav class="navbar navbar-expand-md navbar-dark navbar-piedrazul sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" aria-controls="navbarNav" [attr.aria-expanded]="!colapsado"
            aria-label="Alternar navegación" (click)="colapsado = !colapsado">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="colapsado">
            <ul class="navbar-nav ms-md-auto">
                @for (enlace of enlaces; track enlace.texto) {
                <li class="nav-item">
                    <a class="nav-link" [class.active]="$first" [href]="enlace.ancla" (click)="colapsado = true">
                        {{ enlace.texto }}
                    </a>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>